<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Document
      </nb-card-header>
      <nb-card-body>
        <!-- <label class="search-label" for="search">Search:</label> 
        <input nbInput  id="search" class="search-input" (keyup.enter)="stockSearch($event.target.value)" required [(ngModel)]="nameTicker"> -->
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th> id
                </th>
                <th> name
                </th>
                <th> authenticationId
                </th>
                <th> createTime

                </th>
                <th> currentEventPosition
                </th>
                <th> createName
                </th>
                
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1514</td>
                <td>Stephen</td>
                <td>US ID number</td>
                <td>22:10 21-09-2023</td>
                <td>2</td>
                <td>Lijinming</td>
                <!-- <td>
                  
                    <button (click)="stockDetails(stock.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    <button (click)="buyStock(stock.ticker)" class="btn btn-success" >Buy</button>
                    
                </td> -->
                
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        eventList
      </nb-card-header>
      <nb-card-body>
        <!-- <label class="search-label" for="search">Search:</label> 
        <input nbInput  id="search" class="search-input" (keyup.enter)="stockSearch($event.target.value)" required [(ngModel)]="nameTicker"> -->
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th> id
                </th>
                <th> documentId
                </th>
                <th> organization
                </th>
                <th> currentSubEventPosition

                </th>
                <th> createName
                </th>
                <th> assignee
                </th>
                <th> createTime
                </th>
                
                <th> completeTime
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>1514</td>
                <td>hospital</td>
                <td> 2</td>
                <td>Lee</td>
                <td>create document</td>
                <td>22:10 21-09-2023</td>
                <td>22:10 21-09-2023</td>
              </tr>
              <tr>
                <td>2</td>
                <td>hospital</td>
                <td>Springboard</td>
                <td> 0</td>
                <td>Lee</td>
                <td>hospital care</td>
                <td>22:10 21-09-2023</td>
                <td>22:10 21-09-2023</td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
