
<nb-card>
  <nb-card-header>
    Events
  </nb-card-header>
  
  <nb-card-body>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th> documentId
            </th>
            <th> organization
            </th>
            <th> assignee
            </th>
            <th> description
            </th>
            <th> createTime
            </th>
            <th> completeTime
            </th>
            <th> notificationReceiver
            </th>
            <th> eventStatus
            </th>
            <th> Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1514L</td>
            <td>Springboard</td>
            <td>Lee</td>
            <td>create document</td>
            <td>2022-15-20</td>
            <td>2022-15-13</td>
            <td>Lee</td>
            <td>COMPLETED</td>

            <td>
              <!-- <button (click)="deleteStock(stock.ticker)" class="btn btn-danger">Delete</button> -->
                <button (click)="stockDetails('1')" class="btn btn-info" style="margin-left: 10px">Sell Stock</button>
            </td>
          </tr>
          
              <tr *ngFor="let trade of events | async">
            <td>{{trade.documentId}}</td>
            <td>{{trade.organization}}</td>
            <td>{{trade.assignee}}</td>
            <td>{{trade.description}}</td>
            <td>{{trade.createTime }}</td>
            <td>{{trade.completeTime }}</td>
            <td>{{trade.notificationReceiver }}</td>
            <td>{{trade.eventStatus }}</td>

            <td>
              <!-- <button (click)="deleteStock(stock.ticker)" class="btn btn-danger">Delete</button> -->
                <!-- <button (click)="stockDetails(trade.id)" class="btn btn-info" style="margin-left: 10px">Sell Stock</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>